body {
  background-color: black;
  font-family: Arial;
}

button{
  background-color: rgb(51,51,51);
  color: white;
  border:none;
  height: 60px;
  width: 60px;
  border-radius: 200px;
  font-family: Arial;
  font-size: 26px;
  margin-right: 4px;
}

.symbol-button{
  background-color: rgb(254, 160, 10);
}

.display-calculator{
  margin-top: 12px;
  margin-bottom: 4px;
  color: white;
  font-size: 46px;
}

.clear-button {
  font-size: 18px;
}